@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  text-align: center;
  box-sizing: border-box;
  background: #ebecf0;
}

a{
  color : rgb(34, 85, 50);
  margin : auto;
  text-decoration: none;
  font-weight: bold;
}

span{
  text-align: left;
}

h2{
  font-size: 30px;
}

form {
  margin : 10px;
}

form input {
  background: #eee;
  padding: 10px;
  margin: 8px 0;
  width: 70%;
  border: 0;
  outline: none;
  border-radius: 10px;
  box-shadow: inset 5px 2px 5px #babebc, inset -5px -5px 12px #fff;
}

button {
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
  margin: 10px 0px;
  background-color: rgb(50, 128, 75);
  color: whitesmoke;
}

ul{
  list-style: none;
}

li i{
  color :rgb(50, 128, 75);
  font-weight: lighter;
}

.chat_sideArea{
  margin-top: 30px;
}

.list-title{
  width : 80%;
  border-radius: 10px;
  margin : auto;
  margin-top: 30px;
  color: rgba(50, 128, 75, 0.645);
}

.users{
  margin : 13px 0px 40px 0px;
  font-weight: lighter;
  line-height:2vh;
  font-size: 14px;
}

.container {
  width: 100%;
  min-height: 500px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebecf0;
}


/* 메시지 */
.chat_main{
  width : 80%;
  margin : auto;
  border-top : rgba(3, 55, 19, 0.081) solid 1px;
  padding-top: 20px;
}


.chat_message_box {
  margin : 50px;
  border-radius: 10px;
  box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
  width: 80%;
  height: 90%;
  padding: 30px 0px 10px 0px;
}

.chat_msg{
  margin : 0px 70px;
}

.fmessage-main, .mymessage{
  display: flex;
  flex-direction: column;
  position: relative;
}

/*다른사람이 보낸 메시지*/
#profile{
  margin-right: 0.625rem;
  color : rgba(92, 121, 101, 0.452);
}

.fmessage{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}


.fmessage-main > .balloon {
  margin-top: 0.3125rem;
  padding: 0.4375rem;
  border: 1px solid whitesmoke;
  border-radius: 0.1875rem;
  background-color: whitesmoke;
  font-size: 0.8125rem;
  color: black;
  width : max-content;
  max-width: 400px;
}

.fmessage-main > .balloon::before {
  content: "";
  border-bottom: 0.6875rem solid transparent;
  border-right: 0.6875rem solid whitesmoke;
  position: absolute;
  top: 1.563rem;
  left: -0.5rem;
}

.fmessage .message_meta{
  align-self: flex-end;
  flex-basis: 8.75rem;
  flex-shrink: 0;
  font-size: 0.75rem;
  color: rgba(50, 128, 75, 0.452);
  text-align: center;
}


/*내가 보낸 메시지*/
.mymessage{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 0.625rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mymessage .message_meta{
  align-self: flex-end;
  flex-basis: 8.75rem;
  flex-shrink: 0;
  font-size: 0.75rem;
  color: rgba(50, 128, 75, 0.452);
  text-align: center;
}


.mymessage > .balloon{
  margin-top: 0.3125rem;
  padding: 0.4375rem;
  border: 1px solid rgb(50, 128, 75);
  border-radius: 0.1875rem;
  background-color: rgb(50, 128, 75);
  font-size: 0.8125rem;
  color: white;
  width : max-content;
  max-width: 400px;
}

.mymessage> .balloon::before {
  content: "";
  border-bottom: 0.6875rem solid transparent;
  border-left: 0.6875rem solid rgb(50, 128, 75);
  position: absolute;
  top: 0.625rem;
  right: -0.5rem;
}


.exit{
  margin: 20px 0px;
}
.form_btn {
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.form_btn:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.form_btn:focus{
  background-color :rgba(3, 55, 19, 0.081);
}


@media (max-width : 750px){
  .container{
    display: none;
  }
}